@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* light colors */
    --color-pink-200: #FFADF2; 
    --color-pink-400: #FF60E6;
    --color-pinK-500:  #ff5ae3;
    --color-celtic-500: #1F392C;
    --color-brown-50: #F8F5F0;

    /* dark colors  */

    --color-pink-800: #930079; 
    --color-pink-950: #650053; 
    --color-pink-900: #97007b;
    --color-cloud-200: #ccc8c1;
    --color-brown-950: #30211a;
    --color-smoke-950: #181a1b;
    
    --color-primary: var(--color-pink-400);
    --color-primary-alt: var(--color-pink-200);
    --color-primary-shadow: var(--color-pinK-500);
    --color-secondary: var(--color-celtic-500);
    --color-tertiary: var(--color-brown-50);

    --color-white: #fff;
    
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1, h2, h3, h4 {
  text-wrap: balance
}

p {
	text-wrap: pretty;
}
#root, #__next {
  isolation: isolate;
}  


/* dark theme */

[data-theme='dark'] {
    --color-primary: var(--color-pink-800);
    --color-primary-alt: var(--color-pink-950);
    --color-primary-shadow: var(--color-pink-900);
    --color-secondary: var(--color-cloud-200);
    --color-tertiary: var(--color-brown-950);
    --color-white: var(--color-smoke-950);
}

/* global styles */

.drop-shadow-section-image {
    filter: drop-shadow(-5px -2px 1px theme('colors.primary-shadow')) drop-shadow(5px -2px 1px theme('colors.primary-shadow'));
}


.mask-image {
    mask-image:linear-gradient(to bottom, theme(colors.tertiary) 70%, transparent 100%)
}


.animation-left-line {
     & path {
        fill: transparent;
        stroke-width: 3;
        stroke:  theme('colors.primary-alt');
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
        animation: animate-left-line 2s linear forwards;
     }
}

@keyframes animate-left-line {
    0% {
        stroke-dashoffset: 3000;
    }
    40% {
        stroke-dashoffset: 1500;
    }

    80% {
        fill: transparent;
        stroke-dashoffset: 0;
    }

    100% {
        fill: theme('colors.primary-alt');
        stroke-dashoffset: 0;
    }
}